SQLfiles/msf-lc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msf="msf.logisticscatalouge.products" targetNamespace="msf.logisticscatalouge.products" elementFormDefault="qualified" attributeFormDefault="unqualified" >
	<xs:attribute name="value" type="xs:positiveInteger"/>
	<xs:attribute name="exists" type="xs:boolean"/>
	<xs:attribute name="SupplierId" type="xs:positiveInteger"/>
	<xs:attribute name="ProductTypeId" type="xs:positiveInteger"/>
	<xs:attribute name="PriceRequestDate" type="xs:date"/>
	<xs:attribute name="Price" type="xs:decimal"/>
	<xs:attribute name="OrganizationId" type="xs:positiveInteger"/>
	<xs:attribute name="Number" type="xs:positiveInteger"/>
	<xs:attribute name="Name" type="StringType"/>
	<xs:attribute name="LastUpdated" type="xs:date"/>
	<xs:attribute name="Created" type="xs:date"/>
	<xs:attribute name="AssessorId" type="xs:positiveInteger"/>
	<!-- AttributeGroups-->
	<xs:attributeGroup name="ShelterAttributeGroup">
		<xs:attribute ref="SupplierId" use="required"/>
		<xs:attribute ref="ProductTypeId" use="required"/>
		<xs:attribute ref="Name" use="required"/>
		<xs:attribute ref="LastUpdated" use="required"/>
		<xs:attribute ref="Created" use="required"/>
		<xs:attribute ref="AssessorId" use="required"/>
	</xs:attributeGroup>
	<!-- Start Types-->
	<xs:simpleType name="StringType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DecimalType">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="IntType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:complexType name="CommentWithBoolAttributeType">
		<xs:sequence>
			<xs:element name="Comment"/>
		</xs:sequence>
		<xs:attribute ref="exists" use="required"/>
	</xs:complexType>
	<xs:complexType name="CommentWithIntAttributeType">
		<xs:sequence>
			<xs:element name="Comment"/>
		</xs:sequence>
		<xs:attribute ref="value" use="optional"/>
	</xs:complexType>
	<!-- End Types-->
	<xs:element name="RefProject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Section" type="StringType"/>
				<xs:element name="Project" type="StringType"/>
				<xs:element name="Size" type="DecimalType"/>
				<xs:element name="Status" type="StringType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RefProjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RefProject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferenceOrganization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RefProjects" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="OrganizationId" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferenceProjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReferenceOrganization" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PackingDimensions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Height" type="DecimalType"/>
				<xs:element name="Width" type="DecimalType"/>
				<xs:element name="Depth" type="DecimalType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EquipmentRequired">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Equipment" type="CommentWithIntAttributeType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Window">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NumberOfWindows" type="IntType"/>
				<xs:element name="WindowMaterial" type="StringType"/>
				<xs:element name="WindowHeight" type="DecimalType"/>
				<xs:element name="WindowWidth" type="DecimalType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Door">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NumberOfDoors" type="IntType"/>
				<xs:element name="DoorMaterial" type="StringType"/>
				<xs:element name="DoorHeight" type="DecimalType"/>
				<xs:element name="DoorWidth" type="DecimalType"/>
				<xs:element name="ClosingMechanism" type="StringType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Acclimatization">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ThermalValue" type="DecimalType"/>
				<xs:element name="InnerLiner" type="CommentWithBoolAttributeType"/>
				<xs:element name="NaturalVentilationSystem" type="CommentWithBoolAttributeType"/>
				<xs:element name="AdaptabletoHeatingSystem" type="CommentWithBoolAttributeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdditionalAddons">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ShadowNetKit" type="CommentWithBoolAttributeType"/>
				<xs:element name="WinterizationKit" type="CommentWithBoolAttributeType"/>
				<xs:element name="FlooringKit" type="CommentWithBoolAttributeType"/>
				<xs:element name="PartitioningKit" type="CommentWithBoolAttributeType"/>
				<xs:element name="HangingFurniturePossibility" type="CommentWithBoolAttributeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SafetyAndRobustness">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FireResistance" type="CommentWithBoolAttributeType"/>
				<xs:element name="SnowLoad" type="DecimalType"/>
				<xs:element name="Security" type="CommentWithBoolAttributeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dimensions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InnerHabitableArea" type="DecimalType"/>
				<xs:element name="ShelterLength" type="DecimalType"/>
				<xs:element name="ShelterWidth" type="DecimalType"/>
				<xs:element name="EaveHeight" type="DecimalType"/>
				<xs:element name="RidgeHeight" type="DecimalType"/>
				<xs:element name="DistanceBetweenTrusses" type="DecimalType"/>
				<xs:element name="CoveredSurfaceArea" type="DecimalType"/>
				<xs:element name="Extendibility" type="CommentWithBoolAttributeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnvelopeCharacteristics">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StructureMaterial" type="StringType"/>
				<xs:element name="WallMaterial" type="StringType"/>
				<xs:element name="RoofMaterial" type="StringType"/>
				<xs:element name="FloorSurface" type="CommentWithBoolAttributeType"/>
				<xs:element ref="Window"/>
				<xs:element ref="Door"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransportAndPricing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PackingDimensions"/>
				<xs:element name="TransportType" type="StringType"/>
				<xs:element name="LoadingVolume" type="StringType"/>
				<!--Får bli string tills det finns definerat annat-->
				<xs:element name="LoadingWeight" type="DecimalType"/>
				<xs:element name="SpecialParts" type="CommentWithBoolAttributeType"/>
				<xs:element name="Warranty" type="CommentWithBoolAttributeType"/>
				<xs:element ref="ReferenceProjects" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="PriceRequestDate" use="required"/>
			<xs:attribute ref="Price" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Installation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AssemblyManual" type="CommentWithBoolAttributeType"/>
				<xs:element name="PeopleRequired" type="CommentWithBoolAttributeType"/>
				<xs:element name="EstimatedSetUpTime" type="DecimalType"/>
				<xs:element name="InstallationTeamProvided" type="CommentWithBoolAttributeType"/>
				<xs:element name="GroundPreparationRequired" type="CommentWithBoolAttributeType"/>
				<xs:element ref="EquipmentRequired" minOccurs="0"/>
				<xs:element name="PossibleToDismantle" type="CommentWithBoolAttributeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PhysicalCharacteristics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dimensions"/>
				<xs:element ref="EnvelopeCharacteristics"/>
				<xs:element ref="Acclimatization"/>
				<xs:element ref="AdditionalAddons"/>
				<xs:element ref="SafetyAndRobustness"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--ProductCategory-->
	<xs:element name="Shelter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PhysicalCharacteristics"/>
				<!-- minOccurs="0" maxOccurs="unbounded"/> -->
				<xs:element ref="Installation"/>
				<xs:element ref="TransportAndPricing"/>
				<xs:element name="Comments" type="StringType"/>
			</xs:sequence>
			<xs:attributeGroup ref="ShelterAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<!--Root element-->
	<xs:element name="Product">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Shelter"/>
				<!--<xs:element ref="Vehicle" />-->
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
